{
  "perlin":
  {
    "size":128,
    "threed":false,
    "thresh":true,
    "smooth":true
  },

  "bsp":
  {
    "size":128,
    "min-room-height":11,
    "min-room-width":9,
    "min-area-ratio":1.0,
    "room-gap":2
  },

  "verification":
  {
    "dijkstras":true,
    "useBots":true,
    "botType":"Search",
    "classifier":"../../testData/svm_classify",
    "model":"../../testData/model2"
  }
}
